title = "Ideas"
url = "/ideas"
layout = "default"

==

<!-- Banner  -->
<div class="container-fluid pink-bg">
  <div class="container first-section-padding">
    <div class="row">
      <div class="col-sm-6">
        <div><h1>Ideas</h1></div>
        <div class="smiley">Something about that here.🤯</div>
      </div>
      <div class="col-sm-6">
        <div class="main-image">
        </div>
      </div>
    </div>
  </div>
</div>
