title = "Welcome to BeCaleb"
url = "/"
layout = "default"

==

<!-- Banner  -->
<div class="container-fluid pink-bg">
  <div class="container first-section-padding">
    <div class="row">
      <div class="col-sm-6">
        <div>
            <h1>
            <div class="slide">
              <span class="slide-in-bottom">Digital.</span>
            </div>
            <br><span class="slide-in-bottom2">Beyond.</span>
            <br><span class="slide-in-bottom3">Africa.</span>
          </h1></div>
        <div  class="smiley slide-in-bottom4">Going beyond your wildest imagination.🤯</div>
        <div class="button-holder slide-in-bottom4" ><a href="/contact" class="rounded">Connect with us</a></div>
      </div>
      <div class="col-sm-6 slide-in-bottom4">
        <div class="main-image" >
          <img src="{{ 'assets/images/cover-image.png'|theme }}" alt="main image">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Connecting brands  -->

<div class="container-fluid connecting-people">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Crafting brand connections with real people</h2>
        <div class="smiley">
          We believe every single person is unique, and knowing them means you can connect with them 👨🏻‍🦳👨🏾‍🦲👱🏿‍♀️👴🏼
        </div>
      </div>
      <div class="col-sm-6">
        <div class="main-image">
          <img src="{{ 'assets/images/face.png'|theme }}" alt="">
        </div>
      </div>
    </div>
    <div class="row people-list">

      <div class="col-sm-4">
        <div class="connecting-item">
          <p class="people">👩‍🦲</p>
          <div class="sub-title">
            We learn more
          </div>
            <h3>About you</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor, turpis sed bibendum laoreet, erat tellus commodo massa, non mollis justo erat quis arcu. Proin volutpat quis mauris nec convallis.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="connecting-item">
          <p class="people">👨🏾‍🦲👱🏿‍♀️👴🏼</p>
          <div class="sub-title">
            About your customers
          </div>
            <h3>About you</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor, turpis sed bibendum laoreet, erat tellus commodo massa, non mollis justo erat quis arcu. Proin volutpat quis mauris nec convallis.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="connecting-item">
          <p class="people">❤️</p>
          <div class="sub-title">
            We learning more
          </div>
            <h3>About your needs</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor, turpis sed bibendum laoreet, erat tellus commodo massa, non mollis justo erat quis arcu. Proin volutpat quis mauris nec convallis.</p>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="floating-object-1">
          <img src="{{ 'assets/images/cover-image.png'|theme }}" alt="main image">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Creating solutions  -->

<div class="container-fluid whitebg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>So we can create  solutions for those you care about <br> <span class="special-tag">(Customers) 😉</span> </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit maximus velit sit amet iaculis. Sed in libero in nisl viverra luctus. Integer viverra sem nec facilisis fringilla. Suspendisse nibh nunc, vehicula ut tempus eu, ultricies at ligula. Nulla vestibulum semper ex id fermentum. Nulla congue sit amet ante sed maximus. Sed at ante vitae orci vestibulum maximus at sed ipsum. Donec id tincidunt massa. Cras odio ante, porta tempus viverra vitae, venenatis ac nulla. Nunc non venenatis mi, ac laoreet risus. </p>
        <div class="btn btn-dark btn-sm tag">Branding</div>
        <div class="btn btn-dark btn-sm tag">Web</div>
        <div class="btn btn-dark btn-sm tag">Social media</div>
        <div class="btn btn-dark btn-sm tag">Graphic design</div>
        <div class="btn btn-dark btn-sm tag">Animation</div>
        <div class="btn btn-dark btn-sm tag">App design and dev</div>
      </div>
      <div class="col-sm-6">
        <div class="main-image">
          <img src="{{ 'assets/images/quote.png'|theme }}" alt="">
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Can make a difference   -->

<div class="container-fluid bg-items-left-right">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
            <div class="left-holder">
              <img src="{{ 'assets/images/left.png'|theme }}" alt="">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="center-content">
              <h2>In a way that will make a difference</h2>
              <p>Mission and vision statement here Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit maximus velit sit amet iaculis. Sed in libero in nisl viverra luctus. Integer viverra sem nec facilisis fringilla. Suspendisse nibh nunc, vehicula ut tempus eu, ultricies at ligula. Nulla vestibulum semper ex id fermentum. Nulla congue sit amet ante sed maximus. Sed at ante vitae orci vestibulum maximus at sed ipsum. Donec id tincidunt massa. Cras odio ante, porta tempus viverra vitae, venenatis ac nulla. Nunc non venenatis mi, ac laoreet risus. </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="right-holder">
              <img src="{{ 'assets/images/right.png'|theme }}" alt="">
            </div>
          </div>
      </div>
  </div>
</div>


<!-- Get in touch   -->

<div class="container-fluid pink-bg contact-section">

  <div class="container">
    <div class="row">
      <h2>Let’s have a chat</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form">
          <form>
              <div class="form-group">
                <input type="email" class="form-control email round" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <textarea class="form-control round" id="exampleFormControlTextarea1" placeholder="Enter message" rows="3"></textarea>
              </div>
              <div class="button-holder"><a href="#" class="rounded">Call me back</a></div>
            </form>
        </div>
      </div>
      <div class="col-sm-6">

          <div class="row">
            <div class="col-sm-6">
              <div class="address-block">
                <p><strong>Address</strong></p>
                <p>223 Bronkhorst St, Nieuw Muckleneuk, Pretoria, 0184</p>
              </div>
              <div class="address-block">
                <p><strong>New business lead</strong></p>
                <p>Leago Mapoka<br>leago@becaleb.com<br>081 123 1245</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="address-block">
                <p><strong>Email us</strong></p>
                <p> <a href="mailto:hello@becaleb.com">hello@becaleb.com</a> </p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
