url = "/work/:slug"
layout = "default"
title = "Project Detail"

[builderDetails]
modelClass = "Becaleb\Projects\Models\Projects"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <!-- Banner  -->
<div class="container-fluid pink-bg">
  <div class="container first-section-padding">
    <div class="row">
      <div class="col-lg-6">
        {% for category in record.categories %}

            <div class="btn btn-dark btn-sm tag"> {{ category.category }} </div>
        {% endfor %}
        <div><h2> {{record.title}}</h2></div>
        <div class="smiley">{{ record.sub_title}} </div>
      </div>
      <div class="col-lg-6">
        <div class="cover-image">
          <img src="{{ record.cover.path }}" alt="{{ record.title }} - {{ record.client_company }}" class="cover-image">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Project details   -->

<div class="container-fluid whitebg">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 center-content-here">
        <div class="quote">
          <div class="quote_icon">{{record.quote_icon}}</div>
          <h2>"{{record.quote}}"</h2>
          <p class="center-name">{{record.client_name_surname}}<br>{{record.client_company}}</p>
        </div>
        <div class="brief">
          <p><strong>The brief</strong></p>
          <p>{{record.brief|raw}}</p>
        </div>
        <div class="delivery-team-title">
          <p><strong>Delivery team</strong></p>
          <div class="delivery-team-items">
            {% for member in record.members %}

                  <div class="member">
                      <p>{{ member.name }} <br> <span class="position">{{ member.position }}</span> </p>
                  </div>

            {% endfor %}
          </div>
        </div>
        <div class="process">
          <div class="process-title">
              <p><strong>Our process</strong></p>
          </div>
          <p>{{record.process|raw}}</p>
        </div>
        <div class="process">
          <div class="process-title">
              <p><strong>Results</strong></p>
          </div>
        </div>

      </div>
      <div class="row">
          {% for image in record.images %}

              <div class="col-sm-4">
                <img src="{{ image.path }}" alt="">
              </div>

          {% endfor %}
      </div>
    </div>
  </div>

</div>

{% else %}
{{ notFoundMessage }}

{% endif %}