@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
  background-color: #FFF2E8;
}

a{
  color: black !important;
  opacity: 1;
  transition: 0.4s;
}
a:hover{
  decoration:none;
  opacity: 0.5;
}
.pink-bg{
  background-color: #F1D2B6;
}
.pink-bg-header{
  background-color: #F1D2B6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.center-content{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.spacer{
  margin-right: 5px;
}
.float-left{
  float: left;
}

.float-right{
  float: right;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700 !important;
  font-size: 100px !important;
  color: black !important;
  line-height: 88px !important;
  letter-spacing: -4.11px !important;
  margin-bottom: 43.5px !important;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 60px !important;
  color: #000000 !important;
  letter-spacing: -4.11px !important;
  line-height: 61px !important;
  font-weight: 700 !important;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px !important;
  color: #000000 !important;
  letter-spacing: -0.22px !important;
  font-weight: 600;
}
.connecting-people{
  margin-top: 100px;
}
.people-list{
  margin-top: 40px;
}
.sub-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.08px;
  text-transform: uppercase;
  font-weight:700;
}
.people{
  font-size: 46px !important;
  color: #000000 !important;
  letter-spacing: -0.38px !important;
}
.page-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.13px;
}
.main-image{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.moon-image {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.moon-image img{
  width: 60%;
}

.main-image img{
  width: 120%;
}
.first-section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}
.special-tag{
  background: #FFF2E8;
  border-radius: 0 34px 34px 34px;
  padding: 15px;
  font-size: 20px;
  letter-spacing: -1.11px !important;
}
.smiley{
  background: #FFFFFF;
  border-radius: 0 34px 34px 34px;
  padding: 20px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
}
a.rounded{
  background: #0774FF;
  border-radius: 300px !important;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  color: white !important;
  margin-top: 20px;
}
.button-holder{
  margin-top: 50px;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
  color: #000000 !important;
  letter-spacing: -0.13px !important;
  font-weight: 400 !important;
}
.whitebg{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 200px;
}
.floating-object-1{
  float: right;
}
.floating-object-1 img{
  margin-top: -20px;
  width: 640px;
  margin-bottom: -289px;
  margin-right: -500px;
}
.tag{
  background: #67778A;
  border-radius: 3px;
  border-color: #67778A !important;
  margin-bottom: 8px;
  margin-right: 4px;
}
.left-holder img{
  width: 190%;
  margin-left: -250px;
}
.right-holder img{
  width: 190%;
  margin-right: -250px;
}
.bg-items-left-right{
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-section{
  padding-top: 100px;
  padding-bottom: 100px;
}
input {
  -webkit-appearance: none !important;
  outline: none  !important;
}
.round{
  background: #FFFFFF;
  border-radius: 16px 0 16px 16px;
  padding: 10px;
  border-color: white !important;
  -webkit-appearance: none;
  outline: none;
  box-shadow: none !important;
}
.email{
  margin-top: 50px;
}
#footer{
  padding-top: 100px;
  padding-bottom: 20px;
}
.footer-icons{
  padding-bottom: 50px;
}
.logo-footer{
  margin-bottom: 20px;
}
.article-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #000000;
  letter-spacing: -0.22px;
  margin-bottom: 20px;
}
.content-block{
  margin-bottom: 40px;
  background: #F2F4F7;
  transition: margin-bottom 1s;
}
.content-text-tags{
  height: 260px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
.toggle-item{
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  letter-spacing: -0.42px;
  float: left;
  padding-right: 10px;
}
.counter{
  font-family: 'Open Sans', sans-serif;
  opacity: 0.3;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.17px;
  padding-top: 10px;
  padding-left: 10px;
}
.content-image{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.content-image img{
  width: 100%;
}
.square-crop{
  object-fit: cover;
  height: 330px;
}
.toggle-active{
  opacity: 1 !important;
}
.divider{
  margin-top: 3px;
  margin-right: 20px;
}
.toggle-holder{
  display: flex;
  float: left;
}
.content-section{
  margin-top: 80px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-left: 2.5rem;
}
.quote{
    text-align: center;
    margin-top: 100px;
}
.quote_icon{
    font-family: AppleColorEmoji;
    font-size: 40px;
    color: #000000;
    letter-spacing: -2.74px;
    text-align: center;
    line-height: 46px;
}
.cover-image{
    object-fit:cover;
    height: 500px;
    margin-bottom: -115px;
    margin-top: 30px;
}
.cover-image img{
    width: 100%;
}
.center-name{
    opacity: 0.5;
    font-family: OpenSans;
    font-size: 16px;
    color: #000000;
    letter-spacing: -0.13px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.position{
    opacity: 0.5;
    font-family: OpenSans;
    color: #000000;
    letter-spacing: -0.15px;

}
.member{
    float: left;
    margin-right: 70px;
}
.process{
    margin-top: 100px;
}
.process-title{
    margin-bottom: 50px;
}
.delivery-team-title{
    margin-bottom: 50px;
    margin-top: 50px;
}
.center-content-here{
    margin-left: auto;
    margin-right: auto;
}
a .hovercard:hover{
        margin-bottom: 30px;
}

.slide{
  height: 10px;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
          animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
.slide-in-bottom2 {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
          animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}
.slide-in-bottom3 {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
          animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
.slide-in-bottom4 {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
          animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
}

/* ----------------------------------------------
 * Animation
 * ---------------------------------------------- */


@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
