{% set projects = filterprojects.projects %}
{% set categories = filterprojects.categories %}

<!-- Banner  -->
<div class="container-fluid pink-bg">
  <div class="container first-section-padding">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">Our work</div>
        <div><h1>Stories that<br>say alot.</h1></div>
        <div class="smiley">A look into the creative stories that power us at BeCaleb. 🚀</div>
      </div>
      <div class="col-sm-6">
        <div class="moon-image">
          <img src="{{ 'assets/images/moon.png'|theme }}" alt="Moon Becaleb">
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div id="filters"></div> -->
<div class="container-fluid whitebg">

    <div class="container">
      <!--

      <div class="row">


          <div class="col-sm-12">

            <a class="toggle-holder" href="work#filters">
                  <div class="toggle-item">All</div>
                  <div class="counter">

                     </div>
                  {% partial "divider" %}
                </a>

            {% for category in categories %}


        <a class="toggle-holder" href="?category={{category.slug}}#filters">
              <div class="toggle-item">{{category.category}}</div>
              <div class="counter">

                 </div>
              {% partial "divider" %}
            </a>




            {% endfor %}

          </div>


      </div>

    -->

      <div class="row content-section">



          {% for project in projects %}

          <div class="col-lg-4">
          <a class="hovercard" href="/work/{{ project.slug }}">
              <div class="content-block">
            <div class="content-image"><img src="{{ project.cover.path }}" alt="" class="square-crop"></div>
            <div class="content-text-tags">
              <!-- <div class="article-title">{{ project.title }} </div> -->
              <div class="article-title">{{ str_limit(project.title, 40) }} </div>

              {% for category in project.categories %}

                  <div class="btn btn-dark btn-sm tag"> {{ category.category }} </div>

              {% endfor %}
            </div>
          </div>
          </a>
        </div>

        {% else %}

            <div class="col-lg-4"><h3>Projects not uploaded yet. But we are working on it 😉</h3> </div>


          {% endfor %}

      </div>
    </div>

</div>
