<span class="menu-active">
<svg width="7px" height="7px" viewBox="0 0 7 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Be.Work" transform="translate(-1018.000000, -63.000000)" fill="#FF7200">
            <circle id="Oval" cx="1021.5" cy="66.5" r="3.5"></circle>
        </g>
    </g>
</svg></span>
