<div class="divider">
    <svg width="24px" height="57px" viewBox="0 0 24 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Be.Work" transform="translate(-232.000000, -763.000000)" stroke="#979797">
                <line x1="255" y1="763" x2="232.699068" y2="819.175771" id="Path-4"></line>
            </g>
        </g>
    </svg>
</div>
