<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
              <div class="logo-footer">
                <img src="{{ 'assets/images/logo.svg'|theme }}" alt="BeCaleb Logo">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit maximus velit sit amet iaculis. Sed in libero in nisl viverra luctus. Integer viverra sem nec facilisis fringilla.
          </div>
          <div class="col-sm-7">
            <a href="#" class="list-item">Be.Services</a>
            <a href="#" class="list-item">Be.Work</a>
            <a href="#" class="list-item">Be.Ideas</a>
            <a href="#" class="list-item">Contact</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="footer-icons">
              footer icons
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid">
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="float-left">
              BeCaleb <script>document.write( new Date().getFullYear() );</script>
            </div>
            <div class="float-right">
              <a href="#" class="list-item spacer">Terms</a>
              <a href="#" class="list-item spacer">Privacy</a>
              <a href="#" class="list-item spacer">Cookies</a>
              <a href="#" class="list-item">Sitemap</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
