==
<nav class="navbar navbar-expand-lg navbar-light pink-bg-header">
  <div class="container">
        <a class="navbar-brand" href="/"> <img src="{{ 'assets/images/logo.svg'|theme }}" alt="BeCaleb Logo"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item{% if this.page.id == 'work' %} active {% endif %}"><a class="nav-link" href="/work">Be.Work {% if this.page.id == 'work' %} {% partial "active-button" %} {% endif %} </a></li>
              <li class="nav-item{% if this.page.id == 'services' %} active {% endif %}"><a class="nav-link" href="/services">Be.Services {% if this.page.id == 'services' %} {% partial "active-button" %} {% endif %}</a></li>
              <li class="nav-item{% if this.page.id == 'ideas' %} active {% endif %}"><a class="nav-link" href="/ideas">Be.Ideas {% if this.page.id == 'ideas' %} {% partial "active-button" %} {% endif %}</a></li>
              <li class="nav-item{% if this.page.id == 'contact' %} active {% endif %}"><a class="nav-link" href="/contact">Contact {% if this.page.id == 'contact' %} {% partial "active-button" %} {% endif %}</a></li>
            </ul>
          </form>
        </div>
  </div>
</nav>